

<audio class="song_player" id="random_song" data-song="<%= @song.name %>" controls> 
   <source src="<%=@song.preview_url%>#t=29.4,30" type="audio/mpeg">
</audio>

<section id="header">
  <h1>PopQuiz</h1>
  <div id="score">
    <h3><span class="score-let">Score:</span>&nbsp;<span class="green">&#x2713;</span>&nbsp;<span class="number-score"><%= 0 %></span>&nbsp;&nbsp;<span class="pink">&#x2717;</span><span class="number-score"> <%= 0 %></span></h3>
  </div>
</section>

<section id="wrapper">
  <div id="directions">Click on the music note to play</div>
    <div class="guess_form_holder">
      <%= form_tag("/guess", method: "GET") do %>
        <span id="play_clip">&#9834;</span>
        <%= text_field_tag(:guess, nil, :class => "guess_form", :placeholder => "Name the tune...", :autofocus => "true", navigation: "none") %>
        <%= submit_tag("Am I Right?", :class => "submit_button", :id => "am_i_right") %>
        <%= button_tag "I Give Up.", {class: "give_up", id: "give_up", navigation: "none"} %>
      <% end %>
    </div>
</section>


<section id="footer">
Made with <span class="sunshine">&#9728;</span> by <%= link_to "Bethanne Zink", "https://github.com/bethannezink", :id => "my-name" %>
</section>

